@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-normal: #3B82F6;
  --color-primary-hover: #2563EB;

  --color-secondary-dark: #111827;
  --color-secondary-normal: #374151;
  --color-secondary-light: #6B7280;

  --color-background-normal: #F3F4F6;

  --color-success: #22C55E;
  --color-error: #EF4444;
  --color-warning: #F59E0B;

  --shadow-card:  0px 2px 6px rgba(17, 24, 39, 0.1);;
}

.bg-skeleton {
  background-image: linear-gradient(
    90deg,
    #e5e7eb 25%,
    #f3f4f6 50%,
    #e5e7eb 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.6s infinite linear;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* ::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #FFF;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: #6B7280;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #374151;
} */


.scrollbar-none {
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}